server:
  port: 8080

spring:
  application:
    name: world-cup
  datasource:
#    url: jdbc:mysql://localhost:3366/sdsc5003?useUnicode=true&characterEncoding=utf8&allowMultiQueries=true&autoReconnect=true&useSSL=false&verifyServerCertificate=false
    url: jdbc:mysql://localhost:3306/sdsc5003?serverTimezone=UTC&useUnicode=true&characterEncoding=utf8&useSSL=false
    username: root
    password: root
    driver-class-name: com.mysql.jdbc.Driver
  jpa:
    hibernate:
      dialect: org.hibernate.dialect.MySQL5InnoDBDialect
#      ddl-auto: create-drop
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
#    properties:
#      hibernate:
#        order_updates: true
#        order_inserts: true
#        jdbc:
#          batch_size: 200
#          batch_versioned_data: true
    show-sql: true

#  h2:
#    console:
#      enabled: true
#      path: /h2
#
#  output:
#    ansi:
#      enabled: always

worldcup:
  start-date-time: '2022-11-14 15:00:00+00'
  admin-emails: "yoav200@gmail.com,ibadichi@gmail.com,itay.badichi@gmail.com"
  socialauth:
    base-callback-url: "http://localhost:8080"
    success-page-url: "#/welcome"
    access-denied-page-url: "#/access-denied"
